/* Home page */

body {
	background-color: #f5fade;
	font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.top-menu {
    align-items: center;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px black solid;
	margin-top: 10px;
}

.options {
	display: flex;
	align-items: center;
	margin-right: 100px;
	font-size: 35px;
}

.options a{
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: black;

}

.options a:hover{
	background-color: #d0d6b6;
	border-radius: 10px;

}

#home-name{
	font-size: 40px;
	margin-left: 10px;
	text-decoration: none;
	color: black;
}



.home-blurb {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 40px;
}

.home-text {
	font-size: 30px;
}

/* Portfolio */

.categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	margin: 60px auto;
	max-width: 1200px;
	padding: 0 20px;
}

.project-tile {
	position: relative;
	display: block;
	overflow: hidden;
    border-radius: 20px;
    text-decoration: none;

}

.project-tile img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.project-tile:hover img {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: "Wix Madefor Display", sans-serif;
  text-align: center;
}

/* About */

#pfp{
	margin-top: 50px;
	margin-left: 50px;
}

.bottom-me {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
}

.fr {
  background-color: white;
  padding: 20px;
  border-radius: 100px;
}

.links {
  background-color: white;
  padding: 20px;
  border-radius: 100px;
  display: inline;
}

.icons a{
  gap: 30px;
  margin-right: 70px;
  padding-top: 50px;
  text-decoration: none;
  color: black;
  padding: 0 30px;
}

.icons a:visited{
  color: black;
}


.flip {
  width: 250px;
  height: 400px;
  perspective: 1000px;
  margin: 60px auto;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip.flipped .flip-inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 16px;
  text-align: center;
  font-size: 18px;

}

.back {
  background: #e2e8d6;
  transform: rotateY(180deg);
}

.flip-container {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  margin-top: 40px;
  font-size: 50px;
}

.flip-container .flip:nth-child(1) {
  margin-top: 0px;
  font-size: 50px;
}

.flip-container .flip:nth-child(2) {
  margin-top: 60px;
}

.flip-container .flip:nth-child(3) {
  margin-top: 0px;
}

/* Resume */

.pdf {
  font-size: 30px;
}

h1 {
  border-bottom: solid black 2px;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

.first-block {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 40px;
  box-sizing: border-box;
  gap: 40px; 

}

.first, .second {
  flex: 1;
  font-size: 24px;
  border-radius: 30px;
}

.first ul {
  font-size: 20px;
}

.second ul {
  font-size: 20px; 
}

.second-block .first,
.second-block .second {
  flex: 1;

}

.second-block {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 40px;
  box-sizing: border-box;
  gap: 40px; 
}
